In [1]:
import pandas as pd
import numpy as np

### DEALING WITH CONTENTS TABLE DATA

In [2]:
contents=pd.read_csv('Content.csv',index_col='Unnamed: 0')

In [3]:
contents.head(2)

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

In [4]:
for i in contents.columns:
    print(i)

Content ID
User ID
Type
Category
URL

In [5]:
#checking for the null values
contents.isnull().sum()

Content ID      0
User ID         0
Type            0
Category        0
URL           199
dtype: int64

Here we have 199 null values in the URL column, for our analysis we don't need the URL columns, so we can drop it.

In [6]:
contents.drop(columns=['URL'],inplace=True)

In [7]:
contents.head(2)

,Content ID,User ID,Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating

In [8]:
#Data Exploration

In [9]:
contents['Content ID'].nunique()

1000

In [10]:
contents['User ID'].nunique()

446

In [11]:
# getting type of contents and their counts
contents['Type'].value_counts()

photo    261
video    259
GIF      244
audio    236
Name: Type, dtype: int64

In [27]:
#DEALING WITH DUPLICATES VALUES

In [12]:
# Exploring the Categories
contents['Category'].nunique()

41

In [13]:
contents['Category'].value_counts()

technology           71
animals              67
travel               67
culture              63
science              63
fitness              61
food                 61
healthy eating       61
cooking              60
soccer               58
tennis               58
education            57
dogs                 56
studying             55
veganism             48
public speaking      48
Fitness               5
Animals               4
Science               4
"soccer"              3
"culture"             3
Soccer                3
"dogs"                2
Education             2
Studying              2
Travel                2
Food                  2
"veganism"            1
"public speaking"     1
Public Speaking       1
"technology"          1
"cooking"             1
Healthy Eating        1
"studying"            1
"food"                1
Culture               1
"tennis"              1
Technology            1
"animals"             1
Veganism              1
"science"             1
Name: Category, dtype: int64

In [14]:
old_values=[]
filtered_values=[]
for i in contents['Category'].unique():
    if i[0]=='"':
        old_values.append(i)
        filtered_values.append(i.replace('"',''))

In [15]:
old_values

['"culture"',
 '"studying"',
 '"animals"',
 '"soccer"',
 '"dogs"',
 '"tennis"',
 '"food"',
 '"technology"',
 '"cooking"',
 '"public speaking"',
 '"veganism"',
 '"science"']

In [16]:
filtered_values

['culture',
 'studying',
 'animals',
 'soccer',
 'dogs',
 'tennis',
 'food',
 'technology',
 'cooking',
 'public speaking',
 'veganism',
 'science']

In [17]:
#now replacing the values in the original dataframe
contents['Category'].replace(to_replace=old_values,value=filtered_values,inplace=True)

In [18]:
contents['Category'].nunique()

29

we can see that there are few letter starts with small letters and similar names starts with capital letter we have to deal with them.

In [19]:
old_values=[]
new_caps_values=[]
for i in contents['Category'].unique():
    old_values.append(i)
    new_caps_values.append(i.upper())

In [20]:
old_values

['Studying',
 'healthy eating',
 'technology',
 'food',
 'cooking',
 'dogs',
 'soccer',
 'public speaking',
 'science',
 'tennis',
 'travel',
 'fitness',
 'education',
 'studying',
 'veganism',
 'Animals',
 'animals',
 'culture',
 'Fitness',
 'Veganism',
 'Travel',
 'Education',
 'Technology',
 'Soccer',
 'Culture',
 'Food',
 'Healthy Eating',
 'Science',
 'Public Speaking']

In [21]:
new_caps_values

['STUDYING',
 'HEALTHY EATING',
 'TECHNOLOGY',
 'FOOD',
 'COOKING',
 'DOGS',
 'SOCCER',
 'PUBLIC SPEAKING',
 'SCIENCE',
 'TENNIS',
 'TRAVEL',
 'FITNESS',
 'EDUCATION',
 'STUDYING',
 'VEGANISM',
 'ANIMALS',
 'ANIMALS',
 'CULTURE',
 'FITNESS',
 'VEGANISM',
 'TRAVEL',
 'EDUCATION',
 'TECHNOLOGY',
 'SOCCER',
 'CULTURE',
 'FOOD',
 'HEALTHY EATING',
 'SCIENCE',
 'PUBLIC SPEAKING']

In [22]:
contents['Category'].replace(to_replace=old_values,value=new_caps_values,inplace=True)

In [25]:
contents['Category'].nunique()

16

In [26]:
for i in contents['Category'].unique():
    print(i)

STUDYING
HEALTHY EATING
TECHNOLOGY
FOOD
COOKING
DOGS
SOCCER
PUBLIC SPEAKING
SCIENCE
TENNIS
TRAVEL
FITNESS
EDUCATION
VEGANISM
ANIMALS
CULTURE

In [29]:
# we don't deal with user id for our project so we can drop User ID
contents.drop(columns=['User ID'],inplace=True)

In [31]:
contents.head(2)

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        STUDYING
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  HEALTHY EATING

In [32]:
#rename column name 'Type' to 'Content Type'
contents.rename(columns={'Type':'Content Type'},inplace=True)

In [33]:
contents.head(2)

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        STUDYING
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  HEALTHY EATING

In [34]:
contents.isnull().sum()

Content ID      0
Content Type    0
Category        0
dtype: int64

FINALLY OUR WORK IS DONE FOR PREPROCESSING.

### Exploring Reaction_types dataset

In [36]:
reaction_type=pd.read_csv('ReactionTypes.csv',index_col='Unnamed: 0')

In [37]:
reaction_type.head(2)

    Type Sentiment  Score
0  heart  positive     60
1   want  positive     70

In [38]:
reaction_type.shape

(16, 3)

In [39]:
reaction_type['Type'].nunique()

16

In [76]:
reaction_type.rename(columns={'Type':'Reaction Type'},inplace=True)

In [40]:
#We have 16 Different types of reactions

In [41]:
reaction_type

           Type Sentiment  Score
0         heart  positive     60
1          want  positive     70
2       disgust  negative      0
3          hate  negative      5
4    interested  positive     30
5   indifferent   neutral     20
6          love  positive     65
7    super love  positive     75
8       cherish  positive     70
9         adore  positive     72
10         like  positive     50
11      dislike  negative     10
12    intrigued  positive     45
13      peeking   neutral     35
14       scared  negative     15
15      worried  negative     12

### Exploring the Reaction dataset

In [50]:
reaction=pd.read_csv('Reactions.csv',index_col='Unnamed: 0')

In [51]:
reaction.head(2)

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

In [52]:
reaction.shape

(25553, 4)

In [53]:
for i in reaction.columns:
    print(i)

Content ID
User ID
Type
Datetime

In [54]:
# WE DON'T NEED THE USER ID COLUMN, DROP IT
reaction.drop(columns=['User ID'],inplace=True)

In [57]:
# Dealing with the null values
reaction.isnull().sum()

Content ID      0
Type          980
Datetime        0
dtype: int64

In [27]:
reaction['Type'].nunique()

16

Here reaction Type is a key data point, if there is null values exist then we have to drop it.

In [58]:
# Here we have to drop null values in the column 'Type'  
reaction.dropna(inplace=True)

In [59]:
reaction.shape

(24573, 3)

In [60]:
reaction.isnull().sum()

Content ID    0
Type          0
Datetime      0
dtype: int64

In [62]:
# Rename the column 'Type' to 'Reation Type'
reaction.rename(columns={'Type':'Reaction Type'},inplace=True)

In [63]:
reaction

                                 Content ID Reaction Type             Datetime
1      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2      97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51
3      97522e57-d9ab-4bd6-97bf-c24d952602d2        scared  2021-04-18 05:13:58
4      97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2021-01-06 19:13:01
5      97522e57-d9ab-4bd6-97bf-c24d952602d2    interested  2020-08-23 12:25:58
...                                     ...           ...                  ...
25548  75d6b589-7fae-4a6d-b0d0-752845150e56       dislike  2020-06-27 09:46:48
25549  75d6b589-7fae-4a6d-b0d0-752845150e56     intrigued  2021-02-16 17:17:02
25550  75d6b589-7fae-4a6d-b0d0-752845150e56    interested  2020-09-12 03:54:58
25551  75d6b589-7fae-4a6d-b0d0-752845150e56       worried  2020-11-04 20:08:31
25552  75d6b589-7fae-4a6d-b0d0-752845150e56       cherish  2021-01-04 04:55:11

[24573 rows x 3 columns]

## Data Merging

In [66]:
contents.head(2)

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        STUDYING
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  HEALTHY EATING

In [68]:
contents.shape

(1000, 3)

In [72]:
reaction['Content ID'].nunique()

962

In [69]:
reaction.head(2)

                             Content ID Reaction Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2       disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       dislike  2021-06-17 12:22:51

In [70]:
reaction.shape

(24573, 3)

In [73]:
# Merging the reation and contents tables
final_data=pd.merge(reaction,contents,how='inner',on='Content ID')

In [74]:
final_data

,Content ID,Reaction Type,Datetime,Content Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,STUDYING
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,STUDYING
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,STUDYING
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,STUDYING
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,STUDYING
...,...,...,...,...,...
24568,75d6b589-7fae-4a6d-b0d0-752845150e56,dislike,2020-06-27 09:46:48,audio,TECHNOLOGY
24569,75d6b589-7fae-4a6d-b0d0-752845150e56,intrigued,2021-02-16 17:17:02,audio,TECHNOLOGY
24570,75d6b589-7fae-4a6d-b0d0-752845150e56,interested,2020-09-12 03:54:58,audio,TECHNOLOGY
24571,75d6b589-7fae-4a6d-b0d0-752845150e56,worried,2020-11-04 20:08:31,audio,TECHNOLOGY
24572,75d6b589-7fae-4a6d-b0d0-752845150e56,cherish,2021-01-04 04:55:11,audio,TECHNOLOGY

In [88]:
reaction_type

   Reaction Type Sentiment  Score
0          heart  positive     60
1           want  positive     70
2        disgust  negative      0
3           hate  negative      5
4     interested  positive     30
5    indifferent   neutral     20
6           love  positive     65
7     super love  positive     75
8        cherish  positive     70
9          adore  positive     72
10          like  positive     50
11       dislike  negative     10
12     intrigued  positive     45
13       peeking   neutral     35
14        scared  negative     15
15       worried  negative     12

In [79]:
#merging final_data and reaction type table
final_data=pd.merge(final_data,reaction_type,how='inner',on='Reaction Type')

In [80]:
final_data

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,STUDYING,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,STUDYING,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,photo,STUDYING,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,photo,HEALTHY EATING,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,photo,HEALTHY EATING,negative,0
...,...,...,...,...,...,...,...
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:33,audio,VEGANISM,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:50,audio,VEGANISM,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:44,GIF,CULTURE,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:29,GIF,CULTURE,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:57,GIF,CULTURE,positive,72

In [81]:
final_data.isnull().sum()

Content ID       0
Reaction Type    0
Datetime         0
Content Type     0
Category         0
Sentiment        0
Score            0
dtype: int64

In [82]:
final_data.to_csv('Final_Processed_Data.csv')

In [87]:
final_data.tail(5)

,Content ID,Reaction Type,Datetime,Content Type,Category,Sentiment,Score
24568,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-10-04 22:26:33,audio,VEGANISM,positive,72
24569,435007a5-6261-4d8b-b0a4-55fdc189754b,adore,2020-09-18 10:50:50,audio,VEGANISM,positive,72
24570,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-10-31 03:58:44,GIF,CULTURE,positive,72
24571,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-06-25 15:12:29,GIF,CULTURE,positive,72
24572,4e4c9690-c013-4ee7-9e66-943d8cbd27b7,adore,2020-12-17 16:32:57,GIF,CULTURE,positive,72

In [84]:
grp_by_category=final_data.groupby('Category')
grp_by_category.groups

{'ANIMALS': [64, 67, 198, 199, 224, 225, 226, 241, 242, 243, 244, 247, 248, 249, 250, 251, 294, 295, 325, 328, 329, 339, 340, 341, 398, 399, 400, 403, 404, 405, 406, 407, 408, 441, 448, 469, 505, 506, 507, 508, 509, 510, 522, 523, 524, 525, 526, 556, 557, 558, 559, 614, 615, 635, 636, 637, 638, 639, 694, 708, 709, 710, 711, 719, 720, 741, 750, 767, 927, 928, 938, 939, 940, 945, 946, 981, 986, 987, 988, 1012, 1013, 1014, 1033, 1045, 1046, 1047, 1062, 1063, 1064, 1079, 1080, 1101, 1156, 1167, 1200, 1212, 1217, 1222, 1273, 1274, ...], 'COOKING': [54, 55, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 215, 216, 217, 218, 219, 255, 256, 287, 288, 289, 313, 314, 337, 338, 393, 394, 409, 423, 424, 425, 426, 427, 428, 429, 439, 442, 443, 444, 481, 482, 492, 493, 494, 495, 571, 572, 619, 669, 670, 671, 743, 791, 828, 829, 830, 831, 832, 833, 879, 956, 957, 996, 999, 1000, 1001, 1002, 1030, 1031, 1032, 1034, 1035, 1042, 1043, 1044, 1070, 1089, 1090, 1100, 1120, 1124, 1136, 1137, 1138, 1139, 1207, 1208, 1287, 1308, 1310, 1311, 1379, 1380, 1381, 1382, 1383, 1422, 1423, 1424, ...], 'CULTURE': [102, 103, 104, 108, 109, 126, 127, 140, 141, 142, 143, 144, 146, 147, 165, 262, 263, 411, 416, 417, 418, 419, 420, 454, 455, 458, 501, 544, 562, 563, 568, 569, 570, 584, 603, 605, 663, 664, 665, 666, 667, 668, 681, 682, 718, 780, 781, 825, 862, 863, 876, 877, 878, 895, 896, 908, 909, 910, 911, 929, 930, 968, 969, 1026, 1027, 1067, 1068, 1069, 1094, 1098, 1099, 1187, 1188, 1189, 1213, 1271, 1303, 1304, 1306, 1307, 1327, 1328, 1372, 1413, 1414, 1415, 1449, 1450, 1451, 1492, 1493, 1494, 1508, 1509, 1510, 1511, 1524, 1525, 1597, 1616, ...], 'DOGS': [5, 6, 7, 43, 51, 52, 53, 73, 74, 75, 156, 157, 158, 159, 229, 230, 231, 252, 264, 277, 278, 302, 326, 382, 383, 392, 538, 539, 540, 610, 611, 612, 613, 712, 713, 714, 726, 836, 837, 900, 906, 917, 918, 931, 932, 933, 949, 950, 951, 960, 961, 962, 963, 964, 976, 977, 978, 979, 980, 1118, 1119, 1159, 1160, 1161, 1162, 1232, 1233, 1234, 1235, 1236, 1239, 1246, 1247, 1248, 1375, 1376, 1377, 1378, 1385, 1386, 1408, 1409, 1410, 1411, 1480, 1481, 1495, 1536, 1537, 1571, 1588, 1589, 1590, 1611, 1612, 1656, 1657, 1658, 1672, 1673, ...], 'EDUCATION': [37, 110, 111, 112, 180, 181, 189, 190, 200, 240, 315, 316, 317, 318, 319, 342, 374, 387, 395, 396, 397, 402, 459, 460, 461, 489, 490, 513, 514, 516, 517, 518, 519, 520, 609, 620, 629, 680, 716, 717, 771, 853, 854, 855, 856, 881, 882, 903, 904, 905, 913, 914, 982, 983, 984, 985, 1041, 1085, 1086, 1102, 1111, 1112, 1113, 1115, 1116, 1297, 1298, 1334, 1416, 1417, 1444, 1518, 1519, 1557, 1558, 1621, 1622, 1689, 1690, 1695, 1737, 1806, 1807, 1820, 1821, 1825, 1833, 1834, 1835, 1881, 1882, 1883, 1884, 1900, 1901, 1902, 1903, 1919, 1920, 1921, ...], 'FITNESS': [20, 65, 66, 68, 69, 70, 71, 119, 120, 121, 236, 272, 273, 274, 275, 276, 284, 293, 330, 331, 349, 356, 361, 362, 381, 422, 436, 437, 438, 473, 474, 475, 486, 487, 488, 564, 565, 566, 567, 734, 735, 736, 742, 794, 795, 807, 808, 809, 810, 811, 812, 838, 839, 840, 894, 947, 989, 990, 995, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1038, 1065, 1066, 1095, 1096, 1097, 1126, 1127, 1128, 1129, 1130, 1141, 1157, 1158, 1210, 1211, 1254, 1255, 1347, 1348, 1349, 1387, 1388, 1396, 1446, 1447, 1448, 1461, 1462, 1512, 1585, 1587, 1632, 1633, ...], 'FOOD': [15, 16, 17, 18, 19, 25, 26, 49, 50, 56, 97, 98, 99, 132, 193, 194, 195, 257, 258, 281, 282, 283, 298, 304, 305, 306, 307, 322, 368, 369, 370, 371, 401, 410, 445, 463, 464, 465, 466, 467, 483, 484, 485, 604, 628, 641, 642, 654, 655, 721, 722, 745, 746, 747, 754, 755, 756, 757, 847, 848, 849, 850, 851, 852, 886, 890, 901, 915, 916, 919, 920, 974, 975, 1036, 1037, 1125, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1214, 1215, 1216, 1218, 1219, 1220, 1221, 1263, 1264, 1265, 1331, 1332, 1333, 1373, 1374, 1454, 1455, ...], 'HEALTHY EATING': [3, 4, 48, 59, 60, 61, 62, 63, 76, 77, 78, 100, 101, 133, 134, 135, 151, 152, 153, 154, 155, 261, 343, 344, 345, 346, 347, 348, 353, 354, 355, 357, 358, 449, 527, 531, 546, 547, 580, 581, 582, 583, 590, 591, 592, 593, 594, 595, 616, 617, 618, 660, 661, 662, 700, 701, 702, 727, 728, 729, 730, 788, 789, 790, 801, 802, 803, 804, 805, 806, 883, 884, 922, 923, 924, 925, 926, 934, 935, 936, 937, 1226, 1227, 1237, 1238, 1249, 1268, 1269, 1270, 1295, 1362, 1363, 1364, 1384, 1412, 1456, 1457, 1463, 1464, 1465, ...], 'PUBLIC SPEAKING': [8, 9, 22, 23, 24, 184, 185, 186, 191, 192, 196, 197, 206, 207, 208, 209, 290, 332, 333, 334, 335, 336, 375, 376, 377, 385, 386, 431, 432, 433, 434, 536, 537, 542, 543, 560, 561, 651, 677, 678, 679, 715, 723, 724, 725, 844, 845, 846, 965, 966, 967, 1082, 1083, 1084, 1134, 1135, 1148, 1149, 1201, 1202, 1266, 1267, 1275, 1338, 1344, 1345, 1441, 1442, 1443, 1538, 1539, 1545, 1546, 1696, 1697, 1698, 1706, 1707, 1708, 1780, 1781, 1826, 1827, 1828, 1885, 1886, 1887, 1888, 1963, 1964, 2076, 2077, 2078, 2081, 2082, 2083, 2084, 2103, 2104, 2105, ...], 'SCIENCE': [10, 44, 45, 89, 90, 91, 95, 96, 116, 117, 118, 122, 123, 128, 129, 130, 139, 148, 149, 246, 265, 285, 286, 311, 312, 470, 471, 472, 491, 502, 503, 504, 548, 549, 761, 762, 763, 764, 835, 841, 891, 892, 893, 944, 952, 953, 954, 955, 997, 998, 1010, 1011, 1051, 1052, 1053, 1054, 1055, 1060, 1061, 1081, 1105, 1106, 1142, 1155, 1168, 1169, 1170, 1171, 1190, 1204, 1205, 1206, 1209, 1228, 1229, 1230, 1231, 1244, 1245, 1258, 1259, 1272, 1276, 1277, 1278, 1279, 1280, 1281, 1312, 1313, 1314, 1361, 1369, 1370, 1371, 1399, 1400, 1401, 1402, 1403, ...], 'SOCCER': [21, 31, 32, 33, 34, 35, 36, 105, 106, 107, 164, 201, 211, 227, 228, 232, 233, 237, 238, 239, 266, 267, 268, 269, 270, 299, 300, 301, 320, 321, 378, 379, 415, 530, 541, 545, 551, 599, 600, 601, 602, 653, 656, 657, 658, 659, 691, 692, 693, 695, 696, 697, 698, 699, 703, 704, 705, 706, 707, 758, 759, 760, 842, 843, 958, 959, 970, 971, 972, 973, 1023, 1087, 1088, 1122, 1123, 1143, 1165, 1166, 1329, 1330, 1335, 1336, 1337, 1354, 1355, 1356, 1389, 1390, 1438, 1439, 1440, 1552, 1553, 1554, 1555, 1556, 1618, 1677, 1678, 1679, ...], 'STUDYING': [0, 1, 2, 38, 39, 40, 79, 113, 114, 115, 125, 138, 182, 183, 271, 291, 292, 350, 351, 352, 388, 389, 412, 413, 414, 450, 456, 457, 585, 586, 587, 588, 589, 606, 652, 765, 766, 772, 773, 774, 775, 820, 821, 870, 871, 872, 873, 885, 1039, 1040, 1056, 1057, 1058, 1059, 1309, 1319, 1346, 1350, 1351, 1352, 1353, 1404, 1405, 1406, 1407, 1432, 1474, 1475, 1476, 1477, 1478, 1479, 1489, 1490, 1491, 1499, 1513, 1526, 1527, 1528, 1559, 1623, 1624, 1625, 1626, 1627, 1629, 1630, 1631, 1650, 1691, 1692, 1693, 1782, 1783, 1851, 1904, 1905, 1906, 1907, ...], 'TECHNOLOGY': [57, 58, 92, 93, 94, 145, 177, 178, 179, 187, 188, 222, 223, 234, 235, 259, 260, 363, 364, 365, 366, 367, 372, 435, 499, 500, 511, 512, 550, 576, 577, 578, 579, 607, 608, 621, 622, 623, 624, 625, 626, 627, 630, 631, 632, 640, 645, 646, 672, 673, 674, 675, 676, 683, 684, 685, 686, 687, 688, 689, 690, 737, 738, 739, 740, 818, 819, 822, 823, 824, 857, 858, 859, 860, 861, 874, 875, 897, 898, 899, 907, 912, 941, 942, 943, 992, 993, 994, 1028, 1029, 1050, 1073, 1074, 1114, 1182, 1183, 1184, 1185, 1186, 1203, ...], 'TENNIS': [11, 12, 13, 14, 27, 28, 29, 30, 80, 81, 82, 83, 210, 220, 221, 245, 253, 254, 303, 308, 309, 310, 430, 440, 446, 447, 468, 476, 477, 478, 479, 480, 515, 532, 533, 534, 535, 552, 553, 554, 555, 573, 574, 575, 647, 648, 649, 650, 751, 752, 753, 792, 793, 866, 867, 868, 869, 880, 991, 1024, 1025, 1107, 1108, 1109, 1110, 1144, 1145, 1147, 1163, 1164, 1172, 1173, 1174, 1223, 1224, 1225, 1282, 1283, 1284, 1291, 1292, 1293, 1294, 1365, 1366, 1367, 1368, 1418, 1419, 1420, 1421, 1436, 1437, 1507, 1540, 1541, 1549, 1550, 1551, 1592, ...], 'TRAVEL': [41, 42, 84, 85, 86, 87, 88, 124, 136, 137, 160, 161, 162, 163, 202, 203, 204, 205, 212, 279, 296, 297, 323, 324, 373, 380, 390, 391, 421, 496, 497, 498, 528, 529, 643, 644, 731, 732, 733, 744, 748, 749, 768, 769, 770, 776, 777, 778, 782, 783, 784, 785, 786, 787, 796, 797, 798, 799, 800, 813, 814, 826, 827, 864, 865, 887, 888, 889, 902, 948, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1048, 1049, 1091, 1092, 1093, 1103, 1104, 1117, 1121, 1146, 1150, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1256, 1257, ...], 'VEGANISM': [46, 47, 72, 131, 150, 166, 213, 214, 280, 327, 359, 360, 384, 451, 452, 453, 462, 521, 596, 597, 598, 633, 634, 779, 815, 816, 817, 834, 921, 1071, 1072, 1075, 1076, 1077, 1078, 1131, 1132, 1133, 1140, 1151, 1152, 1153, 1154, 1240, 1241, 1242, 1243, 1252, 1253, 1315, 1316, 1317, 1320, 1321, 1357, 1358, 1359, 1360, 1433, 1434, 1435, 1482, 1516, 1517, 1523, 1564, 1565, 1659, 1668, 1711, 1712, 1713, 1714, 1715, 1768, 1769, 1770, 1822, 1823, 1867, 1871, 1898, 1899, 1996, 1997, 1998, 2006, 2007, 2008, 2009, 2058, 2059, 2060, 2146, 2147, 2148, 2149, 2184, 2282, 2336, ...]}

In [91]:
Top_5_Categories=grp_by_category['Score'].sum()

In [97]:
Top_5_Categories=Top_5_Categories.sort_values(ascending=False).head(5)

In [98]:
Top_5_Categories

Category
ANIMALS           74965
SCIENCE           71168
HEALTHY EATING    69339
TECHNOLOGY        68738
FOOD              66676
Name: Score, dtype: int64

In [99]:
Top_5_Categories.to_csv('Top_5_Categories.csv')